body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 85%;
  background-color: #424242;
}

td {
  padding: 4px;
}

thead tr td {
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: #828282;
}

@media only screen and (min-width: 300px) and (max-width: 750px) {
  table {
    width: 100%;
    min-width: 0;
  }

  body {
    padding: 0;
    margin: 0;
  }
}

.url {
  font-size: .7em;
}